.new-task-input {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 512px) {
        width: calc(100% - 32px);
        padding: 0 32px;
    }

    &__input {
        border: 1px solid #d9d9d9;
        border-radius: 4px;

        height: 32px;
        width: 320px;
        padding: 0 8px;

        background-color: #f6f6f6;

        @media only screen and (max-width: 512px) {
            width: calc(100% - 32px);
        }
    }

    &__button {
        background-color: #f6df8d;
        border-radius: 4px;
        margin-left: 4px;

        color: white;
        font-weight: bold;
        border: 0;

        height: 32px;
        width: 32px;
    }
}
