* {
    font-family: "Poppins", sans-serif;
    outline: none;

    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: #fff9ef;
}

.app-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tasks-wrapper {
    display: flex;
    margin-top: 64px;

    @media only screen and (max-width: 852px) {
        flex-direction: column;
    }

    @media only screen and (max-width: 512px) {
        width: calc(100% - 32px);
        padding: 0 32px;
    }
}
